/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
 // font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
margin-top: 0.5em; 
padding-top: 0.5em;
margin-bottom: 0.5em;
border-top-style: ridge;}

h1 { 
    font-size: 150%; }
h2 {
    font-size: 120%;
}
p { margin: 1em 0; }
ul { margin-left: 2em;}
a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


.site {
  font-size: 115%;
  text-align: justify;
  width: 80%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}
.header {
  vertical-align: middle;
  //padding-bottom: 10px;
  display: inline-block;
}
.title {
  font-size: 150%;
  vertical-align: middle;
  text-align: center;
  display: flex;
  padding-left: 1em;
  //margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}
